* {
	margin: 0;
	padding: 0;
} *:focus {
	outline: none;	
} body {
	background: #4f4f4f;
	overflow: hidden;
} a {
	text-decoration: none;
} article {
	margin-left: 50px;
	padding: 80px 20px 0px;
	transition: all .3s cubic-bezier(0,0,.2,1);
}

@media only screen and (min-width: 768px) {
	article {
		margin-left: 250px;
	}
}
